div.graph{
	bottom:0px;
	width: -moz-calc(100vw - 20px);
    width: -webkit-calc(100vw - 20px);
    width: calc(100vw - 20px);
	height:150px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

path { 
    stroke: grey;
    stroke-width: 1;
    fill: none;
}

.y, .x {    stroke: rgb(247,138,138);
            stroke-dasharray: 3,3;
            opacity: 1;
            }

circle.point {stroke: rgb(247,138,138);
        fill: none;
            opacity: 1;
            stroke-width: 1px;}