body {
	padding: 0;
	margin: 0;
	text-align: center ;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	line-height: 5px;
}

h4{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

html, body, #map {
	height: 100%;
}

circle {
	fill: #FFB218;
	stroke-width: 0px;
	transition: shape-outside 1s;
	shape-outside: circle(30%);
}
circle:hover {
	stroke: white;
	stroke-width: 2px;
	cursor: pointer;
	shape-outside: circle(50%);
}

div.tooltip{
	padding: 6px;
	background: white;
	visibility: hidden;
	position: absolute;
	z-index: 10;
}
p.tooltip-text{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

div.menu{
	position: fixed;
	margin-top: 0px;
	margin-left: 0px ;
	padding: 10px;
	top: 5px;
	right: 0px;
	width: 1450px;
	height: 150px;
	background: rgba(255,255,255,.8);
}

em{
  color: red;
  font-weight: 300;
}
