<html>
<head>
	<title>DMC Web Stack</title>
	<script type="text/javascript" src="./static/lib/d3.js"></script>
	<script type="text/javascript" src="./static/lib/leaflet.js"></script>
	<script type="text/javascript" src="./static/random_data_functions.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="./static/lib/leaflet.css" />

	<!-- import external stylesheet -->
	<link rel="stylesheet" href="./static/style.css" />
	<link rel="stylesheet" href="./static/graphUI.css" />
	<link rel="stylesheet" href="./static/graphUI.css" />


	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>

	<div id="map"></div>

	<div class="tooltip">
		<p class="tooltip-text" id="title">This is the title</p>
		<p class="tooltip-text" id="price">This is the price</p>
	</div>

	<!-- upper-righthand menu -->


	<div class="menu ui">
		<p><h4>In-Stock Consumer Behavior</h4></p>
		<form>


	<ul class="flex">
			<li><strong>Unit of Analysis?</strong></li>
			<li><label for="Total"><input id="Total" name="analysis" class="analysis" value="Total" type="radio" checked><div class="toggel">Total</div></label></li>

			<li><label for="Month"><input id="Month" name="analysis" class="analysis" value="Month" type="radio"><div class="toggel">Month</div></label></li>
			<li><label for="Weeks"><input id="Weeks" name="analysis" class="analysis" value="Weeks" type="radio"><div class="toggel">Weeks</div></label></li>
		</ul>


		<ul class="flex">
			<li><strong>Show fake data?</strong></li>
			<li><label for="Yes"><input id="Yes" name="fake" value="Yes" type="radio" ><div class="toggel">Yes</div></label></li>

			<li><label for="No"><input id="No" name="fake" value="No" type="radio" checked><div class="toggel">No</div></label></li>
		</ul>


		<ul class="flex regional hidden">
			<li><strong>Return to Regional View?</strong></li>
			<li><label for="regionalReturn"><input id="regionalReturn" name="Return" value="regionalReturn" type="radio"><div class="toggel">Return</div></label></li>
		</ul>	


		<!-- <ul class="flex">
			<li><strong>Use an analysis overlay?</strong></li>
			<li><label for="interpolation"><input id="interpolation" name="overlay" value="interpolation" type="radio"><div class="toggel">Interpolation</div></label></li>

			<li><label for="heatmap"><input id="heatmap" name="overlay" value="heatmap" type="radio"><div class="toggel">Heat Map</div></label></li>
		</ul>


		<ul class="flex grid hidden">
			<li><strong>Cell Size:</strong></li>
				<li><label for="10px"><input id="10px" name="grid" value="10" type="radio"><div class="toggel">10px</div></label></li>
				<li><label for="25px"><input id="25px" name="grid" value="25" type="radio" checked>
				<div class="toggel">25px</div></label></li>

				<li><label for="50px"><input id="50px" name="grid" value="50" type="radio">
				<div class="toggel">50px</div></label></li>

				<li><label for="100px"><input id="100px" name="grid" value="100" type="radio">
				<div class="toggel">100px</div></label></li>
		</ul>


		<ul class="flex spread hidden">
			<li><strong>Spread Size:</strong></li>
				<li><label for="10Cells"><input id="10Cells" name="spread" value="10" type="radio">
				<div class="toggel">10 Cells</div></label></li>
				<li><label for="25Cells"><input id="25Cells" name="spread" value="25" type="radio" checked>
				<div class="toggel">25 Cells</div></label></li>
				<li><label for="50Cells"><input id="50Cells" name="spread" value="50" type="radio">
				<div class="toggel">50 Cells</div></label></li>
		</ul>

		<ul class="flex">
			<li><strong># of Results:</strong></li>
				<li><label for="10"><input id="10" name="results" value="10" type="radio" checked><div class="toggel">10</div></label></li>
				<li><label for="100"><input id="100" name="results" value="100" type="radio"><div class="toggel">100</div></label></li>
				<li><label for="1000"><input id="1000" name="results" value="1000" type="radio"><div class="toggel">1000</div></label></li>
				<li><label for="10000"><input id="10000" name="results" value="10000" type="radio"><div class="toggel">10000</div></label></li>
				<li><label for="All"><input id="All" name="results" value="0" type="radio"><div class="toggel">All</div></label></li>
		</ul> -->


<!-- 			<p><input type="button" value="Update Data" onclick="updateData()"></p> -->
			<p>Status: <em id="message"></em></p>
		</form>
	</div>

	<!--end upper-righthand menu -->


	<!--graph-->
	<div class="time ui">
		<ul class ="timeUI">
			<li id="timeControls">
			<ul class="flex indexSelection">
				<li><strong>Pick an Index:</strong></li>
				<li><label for="SZCOMP"><input class="index" id="SZCOMP" name="index" value="SZ_399106" type="radio" checked><div class="toggel">SZCOMP  (local)</div></label></li>
				<li><label for="SHCOMP"><input class="index" id="SHCOMP" name="index" value="INDEX_SSEC" type="radio"><div class="toggel">SHCOMP  (national)</div></label></li>
				<li><label for="SPX"><input class="index" id="SPX" name="index" value="INDEX_GSPC" type="radio"><div class="toggel">SPX (US)</div></label></li>
				<li><label for="SPG100"><input class="index" id="SPG100" name="index" value="ASX_IOO_AX" type="radio"><div class="toggel">SPG100 (global)</div></label></li>
			</ul>
			</li>
			<li id="timeChart">	
				<div class="graph"></li>
			</li>


	</div>

	<!-- import external script -->
	<script type="text/javascript" src="./static/graphUI.js"></script>
	<script type="text/javascript" src="./static/old_script.js"></script>


</body>
</html>