<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,700|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
	<!--<<<<<<< HEAD -->
	<title>KAUILE</title>
	<script type="text/javascript" src="./static/lib/d3.js"></script>
	<script type="text/javascript" src="./static/lib/leaflet.js"></script>
	<link rel="stylesheet" href="./static/lib/leaflet.css" />
	<link rel="stylesheet" href="./static/style.css"/>




	<!--origin/master-->
	<!-- <script type="text/javascript" src="./static/lib/d3.js"></script> -->
	<!-- <script type="text/javascript" src="./static/lib/leaflet.js"></script> -->
	<!-- <link rel="stylesheet" href="./static/lib/leaflet.css" /> -->

	<!-- import external stylesheet -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>


	<div id="map"></div>

	<div class="tooltip">
		<p class="tooltip-text" id="cat">This is the category</p>
	</div>

	<div class="menu">
<!--<<<<<<< -->
		<!-- <form> -->
			<!-- IMPLEMENT NEW USER INTERFACE ELEMENTS HERE -->
			<h4>TEAM KUAILE - Analysis of "non-migration patterns" during CHINESE NEW YEAR</h4>
			<p><input type="button" value="Update Data" onclick="updateData()"></p>
			<p>STATUS: <em id="message"></em></p>

			<div data-role="main" class="ui-content">
    <form method="post" action="demoform.asp">
      <label for="time">DAY</label>
      <input type="range" name="slider" id="slider" value="20" min="1" max="28" onChange="changeSlider()">
      <!--!input type="submit" data-inline="true" data-popup-enabled="true"  value="Visualise"=>
    </form>
  </div>
</div>
    </form>
  </div>
</div>


		<form>
			<!-- IMPLEMENT NEW USER INTERFACE ELEMENTS HERE -->
			<!--origin/master-->

		</form>
	</div>

	<!-- import external script -->
	<script type="text/javascript" src="./static/script.js"></script>


</body>
</html>
